{% extends "layout.html" %}
{% block content %}
<h1>Cancelled Appointments</h1>
<br>
<div>
    <a type="button" class="btn btn-outline-info" href="{{ url_for('appointments') }}">
        Active Appointments
    </a>
  </div>
<br>
<div>
  {% if appointments %}
  {% for appoint in appointments %}
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Appointment ID {{appoint.id}}</h5>
      <p class="card-text">
        <table>
          <tr>
            {% if current_user.type == 'd' %}
            <td>Patient Username: </td>
            <td>{{appoint.patient.username}}</td>
            {% else %}
            <td>Doctor Username: </td>
            <td>{{appoint.doctor.username}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if current_user.type == 'd' %}
            <td>Patient Username: </td>
            <td>{{appoint.patient.email}}</td>
            {% else %}
            <td>Doctor Username: </td>
            <td>{{appoint.doctor.email}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if current_user.type == 'd' %}
            <td>Specialization required: </td>
            {% else %}
            <td>Specialization: </td>
            {% endif %}
            <td>{{appoint.specialisation}}</td>
          </tr>
          <tr>
            <td>Date and Time of Appointment: </td>
            <td>{{appoint.time_of_appointment}}</td>
          </tr>
          <tr>
            <td>Doctor Confirmation: </td>
            <td>Cancelled</td>
          </tr>
        </table>
      </p>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="card w-75">
    <div class="card-body">
      <p class="card-text">No Appointments</p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}