{% extends "layout.html" %}
{% block content %}
    <div class="content padL10per">
        <div class="padTB24"></div>
        <h1>Patient History</h1>
        <br>
        <div>
            <a type="button" class="btn btn-outline-info" href="{{ url_for('create_prescription', appoint_id=appoint_id) }}">
                Create Prescription
            </a>
        </div>
        <br>
        {% for prescription in prescriptions %}
        <table>
            <caption></caption>
            <tbody>
                <tr>
                    <td><strong>Patient Username: </strong>{{prescription.patient.username}}</td>
                    <td><strong>Date: </strong>{{prescription.date_and_time}}</td>
                </tr>
                <tr>
                    <td><strong>Patient Name: </strong>{{prescription.patient_name}}</td>
                </tr>
                <tr>
                    <td><strong>Patient Email: </strong>{{prescription.patient.email}}</td>
                </tr>
                <tr>
                    <td><strong>Medicine: </strong>{{prescription.prescription}}</td>
                </tr>
                <tr>
                    <td><strong>Diagnosis: </strong>{{prescription.diagnosis}}</td>
                </tr>
                <tr>
                    <td><strong>Symptoms: </strong>{{prescription.symptoms}}</td>
                </tr>
                <tr>
                    <td><strong>Advice: </strong>{{prescription.advice}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        {% endfor %}
    </div>
{% endblock content %}
