{% extends "layout.html" %}
{% block content %}
    <div class="content-section padL10per">
        <p class="text-danger "><small>NOTE: For first name to be filled say "first name is", likewise "last name is", "age is", "symptoms ...", "medicine ....", "diagnosis ....", "advice ...".<br>Gender should be manually selected.</small></p>
        <div class="Container">
            <a type="button" class="btn btn-outline-info" href="{{ url_for('getprescriptionfordoctor', appoint_id=appoint_id)}}">
                Get recent prescriptions of patient
            </a>
        </div><br>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group row col-lg-8 col-md-8">
                <legend class="border-bottom mb-4 col-lg-12 col-md-12 col-sm-12">Create Prescription</legend>
                <div class="form-group col-lg-6 col-md-6">
                    {{ form.first_name.label(class="form-label") }}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    {{ form.last_name.label(class="form-label") }}
                    {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.last_name(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    {{ form.age.label(class="form-label") }}
                    {% if form.age.errors %}
                        {{ form.age(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    {{ form.gender.label(class="form-label") }}
                    {% if form.gender.errors %}
                        {{ form.gender(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.gender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.gender(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    {{ form.symptoms.label(class="form-label") }}
                    {% if form.symptoms.errors %}
                        {{ form.symptoms(class="form-control is-invalid txtareastyle", rows=7) }}
                        <div class="invalid-feedback">
                            {% for error in form.symptoms.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.symptoms(class="form-control ",rows="5") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    {{ form.medicines.label(class="form-label") }}
                    {% if form.medicines.errors %}
                        {{ form.medicines(class="form-control is-invalid txtareastyle", rows=15) }}
                        <div class="invalid-feedback">
                            {% for error in form.medicines.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.medicines(class="form-control ",rows="5") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    {{ form.diagnosis.label(class="form-label") }}
                    {% if form.diagnosis.errors %}
                        {{ form.diagnosis(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.diagnosis.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.diagnosis(class="form-control ",rows="5") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    {{ form.advice.label(class="form-label") }}
                    {% if form.advice.errors %}
                        {{ form.advice(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.advice.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.advice(class="form-control ") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group col-lg-8 col-md-8" style="padding-top: 10px;">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2 col-lg-8 col-md-8" style="padding-top: 10px;">
                Check all the details before creating a prescription!
            </small>
        </form>
    </div>
{% endblock content %}
{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script>
if (annyang) {
  // Let's define our first command. First the text we expect, and then the function it should call
  var commands = {
    'first name is *tag': function(data) {
      fname = document.getElementById("first_name");
      fname.value = data;
    },
    'last name is *tag': function(data) {
      lname = document.getElementById("last_name");
      lname.value = data;
    },
    'age is *tag': function(data) {
      age = document.getElementById("age");
      age.value = data;
    },
    'symptom *tag': function(data) {
        symptoms = document.getElementById("symptoms");
        if(symptoms.value == ''){
            symptoms.value += data;
        }else{        
            symptoms.value += ', '+data;
        }
    },
    'medicine *tag': function(data) {
        medicines = document.getElementById("medicines");
        if(medicines.value == ''){
            medicines.value += data;
        }else{        
            medicines.value += ', '+data;
        }
    },
    'diagnosis *tag': function(data) {
        diagnosis = document.getElementById("diagnosis");
        diagnosis.value = data;
    },
    'advice *tag': function(data) {
      advice = document.getElementById("advice");
      advice.value = data;
    }
  };

  // Add our commands to annyang
  annyang.addCommands(commands);

  // Start listening. You can call this here, or attach this call to an event, button, etc.
  annyang.start();
}
</script>
{% endblock %}
